body {
    background-color: hsl(0, 0%, 8%);
    padding: 50px 400px 50px 400px;
    margin: 0px;
    text-align: center;
    }
    .content {
        background-color: hsl(0, 0%, 12%);
    .img {
        border-radius: 50%;
    }
    .p1 {
        color: white;
    }
    .p2 {
        color: hsl(75, 94%, 57%);
    }
    .p3{
        color: white;
    }
    }
    .social-link {
        color: white;
        background-color: hsl(0, 0%, 20%);
        border: 25px transparent;
        padding: 8px 16px 8px 16px;
        margin: 25px;

    }